---
layout: splash
author_profile: true
#header:
# image: /assets/images/banner.jpg
image_sliders:
 - slider1
#sidebar:
# nav: sidelinks
#toc: true
author_profile: false
feature_row:
  - image_path: /assets/images/home-page-features/research_home.png
    image_caption: "Stem cells on 3D printed polymer scaffold"
    alt: "research-image"
    title: "Research"
    excerpt: "Our department works on all facets of materials science, including theoretical, experimental, and computational."
    url: "/highlights-list"
    btn_label: "Explore"
    btn_class: "btn--primary"
  - image_path: /assets/images/home-page-features/symposium_home.png
    image_caption: "Faculty and students"
    alt: "people-image"
    title: "People"
    excerpt: "We have a vibrant set of faculty members, students, and research scholars who are ably supported by our staff."
    url: "/faculty-list"
    btn_label: "Know"
    btn_class: "btn--primary"
  - image_path: /assets/images/home-page-features/openday2020.png
    image_caption: "Open day 2020"
    alt: "engage-image"
    title: "Engage"
    excerpt: "Want to participate in departmental activities? Want to join us as a student or faculty or research staff? Want to support our research?"
    url: "/activities"
    btn_label: "Connect"
    btn_class: "btn--primary"
---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<h2 style="border-bottom: none">Announcements <i class="fa fa-bullhorn" aria-hidden="true"></i></h2>
<ul>
<li>Prof. K. T. Jacob wins the <a href="{{ site.baseurl }}/awards/jacob-29-may-2021">2022 J. Willard Gibbs Equilibria Award</a></li>
<li>Apply for the <a href="{{ site.baseurl }}/opportunities">open positions</a> at the department</li>
</ul>

<!--a class="twitter-timeline" data-height="450" data-theme="dark" href="https://twitter.com/goths19?ref_src=twsrc%5Etfw">Tweets by goths19</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script-->
